<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<link rel="stylesheet" type="text/css" media="screen" href="request_history.css" />
<div class= "pusher"">

    
        <div class="ui center aligned grid">
                <h4 class="ui icon header">
                        <i class="history icon"></i>
                                <div class="content">
                                 Request history
                                <div class="sub header">Listing requests in descending order by date</div>
                                </div>
                </h4>
        </div>       
  
                    <table class="ui   small stackable  compact  striped   table" >
                        <thead>
                        <tr class="center aligned">
                            <th>#</th>
                            <th>USER ID</th>
                            <th>CPE IP</th>
                            <th>RWC</th>
                            <th>MODEM IP</th>
                            <th>MODEM TYPE</th>
                            <th>DATE AND TIME</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% let counter = requests.length%> %>    
                    <%requests.forEach(request=>{%>
                        <% if(request.isON){ %>
                            <tr class="center aligned copy still_on" data-clipboard-target="#request_result" >
                        <% }else { %>
                            <tr class="center aligned"  >
                        <% } %>
                                <td id="<%= request._id %>"><%= counter-- %></td>
                                <td>blank</td>
                                <td class="cpeip"><%=request.CPEIP%></td>
                                <td class="wc"><%=request.WC%></td>
                                <td class="modemip"><%=request.MODEMIP%></td>
                                <td class="type"><%=request.MODEM%></td>
                                <td><%=request.TIMESTAMP%></td>
                                <%if(request.isON){%>
                                    <td data-tooltip="Click to enable button" data-inverted="" data-position="left center"><button class="ui tiny red button copy_off_key" disabled>Still on</button>
                                    </td>
                                <%}else{%>
                                    <td  class="ison positive">Closed</td>
                                <%}%>
                            </tr>
                        <%})%>
                    </table>

           
</div>





<% include ./partials/footer %>